<a href="https://colab.research.google.com/github/mghendi/ABW-Academy/blob/main/Practitioners%20Course/Cohort1_2022/Projects/Samuel%20Mwamburi%20Mghendi/abw_data_wrangling_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyshp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyshp
  Downloading pyshp-2.3.1-py2.py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 2.5 MB/s
Installing collected packages: pyshp
Successfully installed pyshp-2.3.1

In [ ]:
# Import Python libraries
import numpy as np
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Initializing vizualization set

sns.set(style='whitegrid', palette='pastel', color_codes=True)
sns.mpl.rc('figure', figsize=(10,6))
%matplotlib inline

In [ ]:
# Read Kenya boundary data level 2 shapefile
shp_path = '/content/ken_admbnda_adm2_iebc_20191031.shp'
sf = shp.Reader(shp_path)

# Check the number of different shapes the function imported
len(sf.shapes())

ShapefileException: ignored

In [ ]:
# Explore a single shape
sf.shapes() [1]

Shape #1: POLYGON

In [ ]:
# Converting shapefile data on Pandas dataframe
def read_shapefile(sf):
    """
    Read a shapefile into a Pandas dataframe with a 'coords' 
    column holding the geometry information. This uses the pyshp
    package
    """
    fields = [x[0] for x in sf.fields][1:]
    records = sf.records()
    shps = [s.points for s in sf.shapes()]
    df = pd.DataFrame(columns=fields, data=records)
    df = df.assign(coords=shps)
    return df

In [ ]:
# Convert shapefile data on a dataframe
df = read_shapefile(sf)
df.shape

(290, 15)

In [ ]:
# Sample of 5 records
df.sample(5)

,Shape_Leng,Shape_Area,ADM2_EN,ADM2_PCODE,ADM2_REF,ADM2ALT1EN,ADM2ALT2EN,ADM1_EN,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,ValidTo,coords
208,1.188612,0.056500,Ndhiwa,KE043250,,,,Homa Bay,KE043,Kenya,KE,2017-11-03,2019-10-31,None,"[(34.42476589900008, -0.5854039369999668), (34..."
66,9.287772,1.245064,Isiolo North,KE011049,,,,Isiolo,KE011,Kenya,KE,2017-11-03,2019-10-31,None,"[(38.08049410000007, 0.7837505580000652), (38...."
88,1.138443,0.060754,Karachuonyo,KE043247,,,,Homa Bay,KE043,Kenya,KE,2017-11-03,2019-10-31,None,"[(34.760495322000054, -0.3117918709999685), (3..."
8,1.332541,0.053758,Baringo Central,KE030159,,,,Baringo,KE030,Kenya,KE,2017-11-03,2019-10-31,None,"[(35.83493520300004, 0.5964099250000459), (35...."
91,0.897551,0.016742,Kathiani,KE016079,,,,Machakos,KE016,Kenya,KE,2017-11-03,2019-10-31,None,"[(37.24706840500005, -1.2949020259999315), (37..."

In [ ]:
# Define MatPlotLib function for plotting shapes
def plot_shape(id, s=None):
    """ PLOTS A SINGLE SHAPE """
    plt.figure()
    ax = plt.axes()
    ax.set_aspect('equal')
    shape_ex = sf.shape(id)
    x_lon = np.zeros((len(shape_ex.points),1))
    y_lat = np.zeros((len(shape_ex.points),1))
    for ip in range(len(shape_ex.points)):
        x_lon[ip] = shape_ex.points[ip][0]
        y_lat[ip] = shape_ex.points[ip][1]
    plt.plot(x_lon,y_lat) 
    x0 = np.mean(x_lon)
    y0 = np.mean(y_lat)
    plt.text(x0, y0, s, fontsize=10)
    # use bbox (bounding box) to set plot limits
    plt.xlim(shape_ex.bbox[0],shape_ex.bbox[2])
    return x0, y0